@charset "utf-8";
@font-face {
    font-family: "worksans";
    src: url(../font/WorkSans-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardVariable.woff2);
    font-weight: 100 900;
}

.about_wrap{ 
    margin: 0 auto;
    margin-top: 13rem;
    width: 90%;
    aspect-ratio: 1 / 0.7;
    position: relative;
    font-weight: 500;
}

.about_park{
    position: absolute;
    top: 12%;
    left: 4%;   
    letter-spacing: 3rem;   
    font-size: 9rem;
    color: #F44040;
    opacity: 50%;
}

.about_img{
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.about_img_gra{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
    linear-gradient(
     rgba(255, 255, 255, 0)60%,
     rgba(255, 255, 255, 1)85%
     );
}
/*그라디언트 기본 : to bottom */

.about_sora{
    position: absolute; 
    top: 31%;
    left: 60%;     
    letter-spacing: 3rem;   
    font-size: 9rem;
    color: #F44040;
    opacity: 50%;
}
/* .about_text div{
    width: 100%;
    background: linear-gradient( 90deg, #000 50%, #000 50% ) no-repeat;
    background-size: 0% 100%;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
} */

.text-wrapper {
    width: 100%;
    margin-top: 25rem;
    font-size: 1.7rem;
    line-height: 2.7rem;
    text-align: center;
    color: #000;
    opacity: 1;
    font-family: "pretendard";
}

.text-wrapper div {
    width: max-content;
    margin: 0 auto;
    background: linear-gradient( 90deg, #000 50%, #000 50% ) no-repeat;
    background-size: 0% 100%;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
    font-family: "pretendard";
}

.about_btn1 {
    aspect-ratio: 1 / 0.1;
    position: relative;
    margin-top: 8rem;
}

.about_btn1 a {
    width: max-content;
    padding: 1.3rem 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border: 0.3px solid #FFAFB4;
    border-radius: 100rem; 
    background-color: #fff;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.05);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #F59298;
    font-family: "pretendard";
}

/* .about_btn1 a{
display: flex;
justify-content: space-between;
align-items: center;
} */

.about_btn1 svg {
    width: 1.2rem;
    margin-left: 0.6rem;
}



.self_intro{
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    margin-top: 23%;
    line-height: 2.2rem;
}

.resume_btn{
    width: 13%;
    margin: 0 auto;
    margin-top: 3%;
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 1000px; 
    padding: 1.6rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: -3%;
}

.keyword_wrap{
    margin: 0 auto;
    /* width: 80%; */
    width: 86%;
    
    /* display: grid;
    justify-items: end; */
}

.keyword_wrap div{
    opacity: 0.13;
    display: flex;
    justify-content: flex-end;
    color: #2f2f2f; 
} 

.keyword_wrap p:nth-child(1){
    margin-right: 0.6rem;
    font-size: 1.2rem;
    margin-top: 7.7rem;
    font-family: "pretendard";
}

.keyword_wrap p:nth-child(2){
    font-size: 10rem;
    letter-spacing: -1.0rem;
    font-weight: 500;
}

.work_wrap {
    width: 100%;
    /* aspect-ratio: 1 / 0.5; */
    margin-top: 6rem;
}

.work_title {
    font-size: 8rem;
    font-weight: 600;
    text-align: center;
  
    /* letter-spacing: 1rem; */
}


.work {
    margin: 0 auto;
    margin-top: 2%;
}

.work ul {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work li {
    width: 49%;
    aspect-ratio: 1 / 0.7;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #000;
    position: relative;
    transition-duration: 0.2s;
    cursor: pointer;
    isolation: isolate;
}

/* .work li:nth-child(1){
    width: 100%;
    aspect-ratio: 1 / 0.30;
} */

.work_name {
    position: absolute;
    inset: 0;
    padding: 1.5rem 2.5rem 0 2.5rem;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.08rem; 
    /* letter-spacing: 0.4rem; */
    color: #fff;
    z-index: 1;
}
.work_name1 {
    left: 4%; 
}

.work_name p {
    font-size: 2rem;
    font-weight: 600;
}
.work_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 2.8rem 3rem 2.8rem;
    position: absolute;
    inset: 0;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)); */
    font-family: "pretendard";
    font-size: 1.1rem;
    font-weight: 400;
    transition-duration: 0.25s;
    opacity: 0;
}

.work li:hover .work_text,
.work li:hover .gradient_box {
    opacity: 1;
}

.work_text_info{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
}

.work_text_detail {
    font-weight: 300;
    line-height: 1.4;
}

.work_text_hour {
    margin-bottom: 1.6rem;
}

.work_text_hour span {
    color: #bababa;
}

.work_text1{
    left: 4%;
}

.work_img_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.work .gradient_box {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85));
    opacity: 0;
    transition-duration: 0.25s;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work li:nth-child(1) img {
    object-position: top;
}

.work_text_role {
    margin-left: 0.8rem;
    padding: 0.3rem 0.6rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 99.9rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-size: 0.9rem;
    font-weight: 500;
    color: #ddd;
}

.contact_wrap {
    width: 100%;
    /* aspect-ratio: 1 / 0.40; */
    height: 100vh;
    min-height: 500px;
    margin-top: 15%;
    position: relative;
}


.contact {
    margin: 0 auto;
   
    width: 50%;

    /* aspect-ratio: 1 / 0.45; */
    /* aspect-ratio: 1 / 0.3; */
    position: absolute;
    /* top: 50%; 변경전 원래 */
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #202020; */
    /* border-radius: 4rem; */
    background-color: blue;

    /* color:#fff; */

}

.contact_title {
    width: max-content;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-family: "worksans";
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: -0.3rem;
    user-select: none;
    pointer-events: none;
}

@keyframes hovering {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20%); }
    100% { transform: translateY(0); }
}

.contact_title>div {
    display: flex;
    margin: 0 0.7rem;
}

.contact_title>div>div {
    animation: hovering 3s ease-in-out infinite;
}

.contact_title>div:nth-child(1)>div:nth-child(2) { animation-delay: 0.3s; }
.contact_title>div:nth-child(1)>div:nth-child(3) { animation-delay: 0.6s; }
.contact_title>div:nth-child(1)>div:nth-child(4) { animation-delay: 0.9s; }
.contact_title>div:nth-child(1)>div:nth-child(5) { animation-delay: 1.2s; }
.contact_title>div:nth-child(1)>div:nth-child(6) { animation-delay: 1.5s; }
.contact_title>div:nth-child(1)>div:nth-child(7) { animation-delay: 1.8s; }

.contact_title>div:nth-child(2)>div:nth-child(1) { animation-delay: 2.1s; }
.contact_title>div:nth-child(2)>div:nth-child(2) { animation-delay: 2.4s; }

.contact_title>div:nth-child(3)>div:nth-child(1) { animation-delay: 2.7s; }
.contact_title>div:nth-child(3)>div:nth-child(2) { animation-delay: 3s; }
.contact_title>div:nth-child(3)>div:nth-child(3) { animation-delay: 3.3s; }
.contact_title>div:nth-child(3)>div:nth-child(4) { animation-delay: 3.6s; }
.contact_title>div:nth-child(3)>div:nth-child(5) { animation-delay: 3.9s; }
.contact_title>div:nth-child(3)>div:nth-child(6) { animation-delay: 4.2s; }
.contact_title>div:nth-child(3)>div:nth-child(7) { animation-delay: 4.5s; }

.phonenumber{
    width: max-content; 
    position: absolute;
    /* display: flex;
    justify-content: space-between; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0rem;
    /* letter-spacing: 0.9rem; */
    margin-top: 2rem;
}
.phonetitle{
    width: 100%;
    text-align: right;}
/* .phonenumber{width: max-content;} */




.copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1%;
    margin-top: 4%;
    /* color: #fff; */
    user-select: none;
    pointer-events: none;

}



/* .circle1 {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #d9d9d9;
    border-radius: 50%;
    opacity: 0.3;
    pointer-events: none; 
    transform: translate(-50%, -50%); 
} */

.tool_wrap{
    width: 90%;
    margin: 0 auto;
    margin-top: 26rem;
}

.tool_title{
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
}

.tool_type_wrap {
    margin-top: 1.6rem;
    font-family: "pretendard";
}

.tool_type {
    padding: 1.8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    background-color:#FFE6E7;
    margin-bottom: 0.6rem;
}

.tool_type_title {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
    color: #FFAFB4;
}

.tool_type_content {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    text-align: right;
    opacity: 0.4;
    font-family: "pretendard";
}
.tool_type_content span{
    font-family: "worksans";
}
.tool_type_content p:nth-child(2) { 
    margin-top: 0.4rem; 
}


.about_park{
    display: flex;

}  
.about_text {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
}
.about_sora{
    display: flex;

}  
.about_text2{
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
}
.about_img{
    display: inline-block;
    /* opacity: 0; */
}


.work a{
    display: block;
    width: 100%;
    height: 100%;
}
.work li{
    overflow: hidden;
}